/* Reset */
html, body, div, article, header, nav, ul, ol, li, a, form,
legend, input, label, p, img, textarea,
h1, h2, h3, h4, h5, h6, header {
  margin: 0; padding: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

table {
  border-collapse: collapse;
}

a {
	text-decoration: none;
}

html, body {
	background: #fff;
	font-family: sans-serif;
}

.container {
	/*max-width: 44em;*/
	min-width: 100%;
	margin: 0 auto;
}

.main-list-left {
	width: 33%;
	max-width: 25em;
}

.list-header {
	margin: 0.5em;
}

.list-header h3 {
	text-align: center;
	line-height: 2;
}

form {
	width: 100%;
}

.list-input {
	padding: 0.5em;
	min-width: 100%;
	line-height: 1.5;
	font-size: 1.25em;
	background: #cacaca;
	border: none;
}

.list-element {
	margin: 0.5em;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #cacaca;
}

.list-details {
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.list-name {
	line-height: 1.5;
	width: 100%;
}

.list-created, .list-updated {
	font-size: 0.8em;
	font-style: italic;
	color: #989898;
}

.view-list-btn,  .item-check-btn {
	width: 5em;
	padding-top: 1.5em;
	text-align: center;
}

.item-edit-btn {
	text-align: center;
	padding: 0.5em;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
	color: #666;
}

.btn-right {
	border-left: 1px solid #ccf;
}

.item-complete {
	background: #9f9;
}

.backarrow {
	font-size: 1.5em;
	padding: 2em 0.5em;
	color: #666;
}

