
{% extends "base.html.twig" %}

{% block content %}
<div class="main-list-left column">
    <form action="/lists" method="POST" class="list-form">
        <!-- CSRF field -->
        <input type="text" class="list-input" name="list-name" id="list-name" autofocus autocomplete="off">
    </form>
    {% if lists|length == 0 %}
        <span class="lists-empty">There are no lists.</span>
    {% endif %}
    {% for list in lists %}
        <div class="list-element">
            <span class="list-details">
                <span class="list-name">{{ list.getListName() }}</span>
                <span class="list-created">Created: {{ list.getCreated() }}</span>
                <span class="list-updated">Updated: {{ list.getUpdated() }}</span>
            </span>
            <a href="/lists/{{ list.getId() }}" class="btn show-list-btn">&vellip;</a>
        </div>
    {% endfor %}
</div>
<div class="list-items-right column">
</div>
{% endblock %}